<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <center>
            @* Html Tags  *@
            @* <a style="margin:10;" href="/Home/Index" class="btn btn-primary">Home</a>
            <a style="margin:10;" href="/Home/AboutUs" class="btn btn-dark">AboutUs</a>
            <a style="margin:10;" href="/Home/ContactUs" class="btn btn-danger">ContactUs</a>
            <a style="margin:10;" href="/Home/Privacy" class="btn btn-secondary">Privacy</a> *@
        
            @* Html Helper  *@
            @*@Html.ActionLink("Home","Index","Home",null,new{@class = "btn btn-primary"}) 
            @Html.ActionLink("AboutUs", "AboutUs", "Home", null, new { @class = "btn btn-dark" })
            @Html.ActionLink("ContactUs", "ContactUs", "Home", null, new { @class = "btn btn-danger" })
            @Html.ActionLink("Privacy", "Privacy", "Home", null, new { @class = "btn btn-secondary" }) *@

            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
            <a asp-controller="Home" asp-action="AboutUs" class="btn btn-dark">AboutUs</a>
            <a asp-controller="Home" asp-action="ContactUs" class="btn btn-danger">ContactUs</a>
            <a asp-controller="Home" asp-action="Privacy" class="btn btn-secondary">Privacy</a>


        </center>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer class="fixed-bottom">
        <center>
            copyrights &copy; Route Academy @DateTime.Now
        </center>
    </footer>
</body>
</html>
